body {
    font-family: Arial, Helvetica, sans-serif;
    background-image:url("./wallpaperflare.com_wallpaper\ \(7\).jpg");
    height: 100%;
    width: 100%;
}
#login{
    position: sticky;
    width: 150px;
    height: 40px;
    margin-left: 80%;
}
.drop {
    position: sticky;
    top:5px;
    z-index: 0;
    opacity: 0.9;
    background: linear-gradient(-45deg, #e6bce7, #bfd1db, #b3b0b2, #f8d3d6);
    
}
#login:hover{
    background: linear-gradient(-45deg, #e6bce7, #bfd1db, #b3b0b2, #f8d3d6);
    background-size: 200% 100%;
    animation: gradient 15s ease infinite;
}
header{
    width: 110%;
    height: 90px;
    background: linear-gradient(-45deg, #e3b5f1, #e79dba, #a4e3fa, #bcfcd1);
    background-size: 500% 100%;
    animation: gradient 15s ease infinite;
    display: flex;
    opacity: 0.8;
}
header img{
    width: 80px;
    height: 80px;
}
header p{
    font-size: 30px;
}
.menu {
    padding-left: 50px;
    padding-bottom: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 97%;
    margin-top: -7px;
    margin-bottom: 5px;
    background: linear-gradient(-45deg, #f1b29f, #e79dba, #acdaeb, #f3f299);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    position: sticky;
    top: 0;
    z-index: 1;
    opacity: 0.9;
}
.menu ul{
    margin: 0;
    padding: 0;
    list-style: none;
    margin-left: 6px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.menu ul li{
    float: left;
    width: 100px;
    height: 40px;
    background: linear-gradient(-45deg, #f1b29f, #e79dba, #acdaeb, #f3f299);
    background-size: 500% 100%;
    animation: gradient 15s ease infinite;
    
    line-height: 40px;
    text-align: center;
    font-size: 20px;
}
.menu ul li a{
    text-decoration: none;
    color: black;
    display: block;
}
.menu ul li a:hover{
    background-color: rgb(218, 153, 178);
}
.menu ul li ul li{
    display: none;
}
.menu ul li:hover ul li{
    display: block;
}

.flex{
    margin-top: 30px;
    margin-bottom: 10px;
    margin-right: 60px;
    margin-left: 60px;
    display: flex;
    justify-content: space-around;
    opacity: 0.9;
    
}
.f1,
.f2,
.f3,
.f4{
    border: 3px solid black ;
    width: 260px;
    height: 300px;
    padding: 0.9%;
    border-radius: 10px;
    text-align: center;
    background: linear-gradient(-45deg, #a5eef7, #e9a9de, #b6e0f1, #bef0e4);
    background-size: 150% 150%;
    animation: gradient 5s ease-in-out infinite;
    opacity: 0.9;
    text-align: left;
    

}
.sliderpointer {
    display: flex;
    justify-content: center;
}
.slider {
    margin-left: 300px;
    width:60%;
    height: 400px;
    background: black;
    text-align: center;
    padding: 20px;
    padding-top: 50px;
    margin-bottom: 20px;
}
.slider {
    transition: 0.5s;
}
.foot {
    background-color: black;
    display: flex;
    justify-content: space-around;
}
.foot *{
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.foot img{
    margin-top:5px;
    margin-bottom:5px;
}
.foot ul a{
    color: white;
}
.lastline {
    background-color: black;
    color: white;
    text-align: center;
    padding: 0;
    margin: 0;
}
